/* Estilização geral do corpo da página */
body {
    /* Define a cor de fundo como um tom de azul escuro */
    background-color: #305050;
    /* Define a cor do texto como branco */
    color: white;
}
h2{
    color:orange ;
}
.texto-inglês {

}